* {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Questrial', sans-serif;
}

body {
    padding-top: 1vh;
    padding-left: 2vw;
}

h2 {
  color: #FF5757;
}

a {
  color: #FF5757;
}

a:hover {
}

#NavBar {
    font-family: 'Julius Sans One', sans-serif;
}

#NavBar a:link, a:visited {
    padding-right: 1.5vw;
    color: black;
    text-decoration: none;
}

#NavBar a:hover {
    color: lightgray;
    text-decoration: none;
}

.registerbutton {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #FF6B6B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #999;
}

.registerbutton:hover {background-color: #FF5757}

.registerbutton:active {
  background-color: #FF5757;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#RegistrationForm  {
    border-radius: 5px;
    padding: 25px;
    background-color: #FFCDCC;
}

input {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

footer {
  font-size: 13px;
}
