* {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Questrial', sans-serif;
}

body {
    margin: 0;
}

h2 {
  color: #FF5757;
}

a {
  color: #FF5757;
}

a:hover {
}

#TopBar {
    padding-top: 2vh;
    padding-left: 2vw;
    padding-bottom: 10px;
    background-color: #FF6B6B;
}

#TopBar h1 {
    color: white;
}

#TopBar nav {
    font-family: 'Julius Sans One', sans-serif;
}

#TopBar a:link, a:visited {
    padding-right: 1.5vw;
    color: white;
    text-decoration: none;
}

#TopBar a:hover {
    color: lightpink;
    text-decoration: none;
}

#RegistrationForm {
    margin: auto;
    width: 50%;
}

.registerbutton {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #FF6B6B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #999;
}

.registerbutton:hover {background-color: #FF5757}

.registerbutton:active {
  background-color: #FF5757;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#RegistrationForm  {
    border-radius: 5px;
    padding: 25px;
    background-color: #FFCDCC;
}

#satisfactionBar {
  background-color: #FF5757;
  color: white;
  width: 135px;
  padding: 10px 10px 10px 10px;
  transition: width 2s;
}

#satisfactionBar:hover {
  background-color: #FF5757;
  width: 250px;
  padding: 10px 10px 10px 10px;
}

input {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

footer {
  font-size: 13px;
}
