/* General overall use */
* {
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Questrial', sans-serif;
}

body {
    margin: 0;
    background-color: #ffebea;
}

h2 {
  color: #FF5757;
}

a {
  color: #FF5757;
}

#AuthorContact {
    position: fixed;
    bottom: 2vh;
}

footer {
  font-size: 13px;
  position: relative;
  z-index: -100;
}

#TopBar {
    padding-top: 2vh;
    padding-left: 2vw;
    padding-bottom: 10px;
    background-color: #FF6B6B;
}

#TopBar h1 {
    color: white;
}

#TopBar nav {
    font-family: 'Julius Sans One', sans-serif;
}

#TopBar a:link, a:visited {
    padding-right: 1.5vw;
    color: white;
    text-decoration: none;
}

#TopBar a:hover {
    color: lightpink;
    text-decoration: none;
}

#ContentPanel {
    padding-top: 2vh;
    padding-left: 2vw;
}

#AuthorContact {
    position: fixed;
    bottom: 2vh;
}

footer {
  font-size: 13px;
  position: relative;
  z-index: -100;
}

/* Buttons */
.largebutton {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 28px;
  padding: 15px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #FF6B6B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #999;
}

.largebutton:hover {
    background-color: #FF5757
}

.largebutton:active {
  background-color: #FF5757;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* successStories.html -- slideshow */
div.content {
    position: relative;
    vertical-align: middle;
    width: 70%;
    padding: 10px 10px 10px 10px;
}

div.slideDescBackground {
  transition: .75s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.slideText {
  background-color: #FF6B6B;
  color: white;
  padding: 10px 10px 10px 10px;
}

div.content:hover .successSlides {
  opacity: 0.6;
}

div.content:hover div.slideDescBackground {
  opacity: 1;
}

.successSlides {
  max-width: 100%;
  height: auto;
  position: relative;
}

/* signup.html */
#RegistrationForm  {
    border-radius: 5px;
    padding: 25px;
    background-color: #FFCDCC;
    margin: auto;
    width: 50%;
}

#LoginForm  {
    border-radius: 5px;
    padding: 25px;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background-color: #FFCDCC;
    margin: auto;
    width: 50%;
}

#LoginForm .innerForm {
    width: 50%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* index.html */
#satisfactionBar {
  background-color: #FF5757;
  color: white;
  width: 135px;
  padding: 10px 10px 10px 10px;
  transition: width .5s;
}

#satisfactionBar:hover {
  background-color: #FF5757;
  width: 250px;
  padding: 10px 10px 10px 10px;
}


/* profile.html */

img.profilePicLarge {
    width: 200px;
    height: 200px;
}
